**/config/classlist.xml
**.dep
**.prn
**.manifest
**.dbg
**.exe
**/IdeSrc/*
**/LoginEncryptionKey.inc
Demo/Programs/**.dll
Demo/Programs/**.mgc
Demo/AppHtml/CssThemes
Demo/AppHtml/DfEngine
Demo/AppHtml/web.config
Demo/AppHtml/global.asa
*.log
Demo/Data/temp
Demo/Data/uploads
_archive

